/* Add your redesigned CSS styles here */

body {
  font-family: Arial, sans-serif; /* Changed font family */
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91.5vh;
  background: linear-gradient(349deg, #ff5d95, #6198ff); /* Light gray background */
}
.my-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-side {
  width: 350px;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.form-welcome-row {
  margin-bottom: 20px;
  text-align: center; /* Center align text */
}

.form-welcome-row h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333; /* Dark text color */
}

.form-welcome-row h1 span {
  font-size: 28px;
  vertical-align: middle;
}

.form-welcome-row h2 {
  font-size: 18px;
  color: #555; /* Darker text color */
}

.text-field {
  margin-bottom: 15px;
}

.text-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 5px;
  background-color: #f8f8f8; /* Light gray background */
}

.btn-dark {
  background-color: #ff4e42; /* Bright red button */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-dark:hover {
  background-color: #ff5d95; /* Lighter red on hover */
}

.spinner {
  text-align: center;
  margin-top: 10px;
}

.my-form__actions {
  margin-top: 20px;
  text-align: center;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #999; /* Lighter divider color */
  opacity: 0.2;
  margin: 0 10px;
}

.socials-row {
  text-align: center;
  margin-top: 20px;
}

.socials-row img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.socials-row span {
  vertical-align: middle;
}
.socials-sec{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}